#skeletonLoader {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.skeletonBlock {
    height: 20px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    animation: skeleton-loader-animation 1s infinite alternate;
}

@keyframes skeleton-loader-animation {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.8;
    }
}

.footer {
    text-align: center;
    font-size: x-small;
}

.browser {
    color: lightgray;
    font-size: xx-small;
    text-align: center;

}