html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: linear-gradient(to right,
      #ffb6c1,
      /* Pastel Pink */
      #ffa07a,
      /* Pastel Salmon */
      #ffd700,
      /* Pastel Yellow */
      #98fb98,
      /* Pastel Green */
      #add8e6,
      /* Pastel Blue */
      #b0e0e6,
      /* Pastel Powder Blue */
      #dda0dd
      /* Pastel Purple */
    );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background: black;
    color: white;
  }

}

button {
  border-radius: 8px;
  border: 2px solid white;
  padding: 1em 2em;
  margin: 5px;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0070f3;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;

}

button:hover {
  border-color: #646cff;
  background-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:active {
  background-color: #646cff;
  color: white;
}