html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(to right,
      #e32636,
      /* Bart's Red */
      #fcd116,
      /* Homer's Yellow */
      #4a90d9,
      /* Marge's Blue */
      #4db849,
      /* Lisa's Green */
      #4169e1
      /* Maggie's Blue */
    );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 2em;
  margin: 5px;
  font-size: 1.5em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0070f3;
  cursor: pointer;
  color: white;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  background-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:active {
  background-color: #646cff;
  color: white;
}