.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex: 1;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    font-size: 4rem;

}

.title,
.description {
    text-align: center;
}

.description {
    font-style: italic;
    font-size: 1rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
    color: #0070f3;
    border-color: #0070f3;
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
    margin-left: 0.5rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {

    .card,
    .footer {
        border-color: #222;
    }

    .code {
        background: #111;
    }

    .logo img {
        filter: invert(1);
    }
}


.recording {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: red;
    animation: pulsate 1s infinite;
    margin: 50px;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.question {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: capitalize;
    text-align: center;
    user-select: all;
}

.answer {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-align: center;
    user-select: all;
}

@keyframes pixie {
    0% {
        filter: blur(0px);
        opacity: 1;
    }

    50% {
        filter: blur(100px);
    }
}

.dads {
    position: relative;

}

.pixelate {
    image-rendering: -webkit-optimize-contrast;
    animation: pixie 6s infinite;
}

.pixelate:hover {
    animation: none;
}

.pixelate:nth-child(1) {
    animation-delay: 0s;
    z-index: 3;

}

.pixelate:nth-child(2) {
    animation-delay: 2s;
    z-index: 2;
}

.pixelate:nth-child(3) {
    animation-delay: 4s;
    z-index: 1;
}

.share {
    background-color: #0070f3;
    color: white;
    font-size: 1rem;
    padding: .25rem .5rem;
}

.og {

    /* background-color: #0070f3; */
    margin: 10px;
    padding: 20px;
    width: 1200;
    height: 630;
    border-radius: 30px;
    text-align: center;
}